* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/216629/pexels-photo-216629.jpeg);
}

.btn {
  padding: 8px 18px;
  box-sizing: border-box;
  border-radius: 999px;
  background-color: #fff;
  line-height: 32px;
  color: black;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
}
.btn:hover {
  background-color: skyblue;
}

.inputText {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 550;
  padding: 8px 12px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 999px;
}

.inputText:focus {
  outline: 3px solid transparent;
}

.city {
  margin-top: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
}

.degree {
  margin-top: 20px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
}

.weather_forecast {
  margin-top: 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
}

.feels_like {
  margin-top: 20px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
}

#temp {
  margin-left: 10px;
  font-size: 20px;
}
